.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.button {
  padding: 8px 12px;
  border: none;
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #1f2937;
}

.buttonSelected {
  background-color: #22d3ee; 
}
