body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  padding: 1rem;
  margin: 1rem auto;
}
