:root {
  --bg: #efeeefff;
  --panel: #1b1f26;
  --text: #131030ff;
  --muted: #a9a8ad;
  --gap: 20px;
  --font-main: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  background: var(--bg);
  max-width: 900px;
  width: 90%;
  margin: 1rem auto;
}



